---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>About Astro</title>
  </head>
  <body>
    <a href="/"> Home</a>
    <a href="/about"> About</a>
    <a href="/blog"> Blog</a>
    <h1>Kishan Mandora</h1>
    <h2>On a journey to become a Tech Creator from Tech Consumer</h2>

    <p>
      I am a BCA grad. I am passionate about learning new technologies and
      building projects. I am currently learning Web Development and Machine
      Learning. I am also interested in learning about the stock market and
      investing.
    </p>
  </body>
</html>
